body{
	height:1600px;
	}
#recherche 
{
  position: relative;
  margin-left:165px;
    
	width:100px;
}
#recherche2
{

    position: relative;
  margin-bottom:50px;
  margin-top:50px;
    bottom: 10px;
	width:100px;
}

#propriete 
{
    display: inline;
    width: 150px;
}
select
{
  width:110px;
}


